body{
  /* background: gray; */ /* This is how you comment out CSS */
  background: url(https://images.unsplash.com/photo-1520741412100-24cd6c2832e5?auto=format&fit=crop&w=1500&q=80);
  background-repeat: no-repeat;
}

div{
  background: blue;
  border: orange;
  border-width: thick; /* thick works like a preset size */
  border-style: dotted;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
